@import "../../../../../assets/styles/mixins";

.c-desktop-alert {
  display: none;
}

@media #{$tablet} {
  .c-desktop-alert {
    @include flex-center;

    flex-direction: column;
    margin: 50px 0;

    &__image {
      margin: 60px 0 0;
    }

    &__title,
    &__text {
      @include regular-16;

      max-width: 300px;
      text-align: center;
    }

    &__title {
      margin: 32px 0;
    }

    &__text {
      margin: 0 0 32px;
    }
  }
}
