<div *ngIf="!formProcessed; else formProcessedBlock" class="c-auth__main">
  <div class="c-auth__content__header">
    <h2 class="c-auth__content__header-text">
      {{ "t-auth.Forgotten password" | translate }}
    </h2>
  </div>

  <div class="c-login__content">
    <form *ngIf="form" [formGroup]="form" class="c-login__form">
      <label class="c-auth__label">{{ "t-auth.E-mail" | translate }}</label>
      <div class="c-common__form-field">
        <app-form-input
          [type]="'email'"
          [maxLength]="320"
          [control]="convertToFormControl(form.controls.email)"
          controlName="mail"
        ></app-form-input>
      </div>
      <button
        class="c-common__button c-common__button--gradient normal stretch"
        [disabled]="isFormInvalid"
        (click)="onSubmit()"
      >
        {{ "t-auth.Password recovery" | translate }}
      </button>
    </form>
  </div>

  <div class="c-auth__footer">
    <!--    Registration enabled-->
    <!--    <div>-->
    <!--      <span class="c-auth__text">{{'t-auth.Do not have an account yet?' | translate}} </span>-->
    <!--      <a routerLink="/auth/register"-->
    <!--         class="c-auth__link">{{'t-auth.Register' | translate}}</a>-->
    <!--    </div>-->
    <div>
      <span class="c-auth__text"
        >{{ "t-auth.Do you already have an account?" | translate }}
      </span>
      <a routerLink="/auth/login" class="c-auth__link">{{
        "t-auth.Login" | translate
      }}</a>
    </div>
  </div>
</div>

<ng-template #formProcessedBlock>
  <app-registration-initiation
    infoTextFirst="t-auth.Password recovery is initiated."
    infoTextSecond="t-auth.We have sent an e-mail with the confirmation link."
  ></app-registration-initiation>
</ng-template>
