<section class="c-guess-find-out">
  <div class="c-guess-find-out__scheme">
    <div class="arrow">
      <img src="../../../../../assets/images/svg/main-page/arrow-right.svg">
    </div>
    <div class="expand">{{'landing.Expand' | translate}}
    </div>
    <div class="grow">{{'landing.Innovate & Grow' | translate}}
    </div>
    <div></div>
    <div class="arrow top">
      <img src="../../../../../assets/images/svg/main-page/arrow-top.svg">
    </div>
    <div class="establish">{{'landing.Establish' | translate}}
    </div>
  </div>
  <div class="c-guess-find-out__text">
    <div class="c-guess-find-out__text-title animated-item">{{'landing.Don’t guess, find out!' | translate}}</div>
    <div
      class="c-guess-find-out__text-text animated-item">{{'landing.We help you accelerate every phase of your Brand Journey by offering actionable insights for all your company’s research needs in an easy and accurate way' | translate}}</div>
  </div>
</section>
