<div class="c-change-password">
  <form [formGroup]="form" onSubmit="onSubmit()">
    <div class="c-change-password__form">
      <!--  OLD PASSWORD-->
      <div class="c-common__form-field c-change-password__form-field">
        <input [type]="passwordTypeFirst"
               pInputText
               [placeholder]="'my-profile.old-password-placeholder' | translate"
               formControlName="oldPassword"
               class="c-common__input password"
               maxlength="128"/>
        <img class="c-common__form-field--password-icon"
             [src]="passwordTypeFirst === 'text' ? '../../../../assets/images/ic_hide-password.svg' : '../../../../assets/images/ic_show-password.svg'"
             (click)="onShowPassword('first')"/>
        <small *ngIf="controlHasError('oldPassword')"
               class="p-error c-common__form-field-error">{{setErrorMessage('oldPassword')}}</small>
      </div>
      <!--  NEW PASSWORD-->
      <div class="c-common__form-field c-change-password__form-field">
        <input [type]="passwordTypeSecond"
               pInputText
               [placeholder]="'my-profile.new-password-placeholder' | translate"
               formControlName="password"
               class="c-common__input password"
               maxlength="128"/>
        <img class="c-common__form-field--password-icon"
             [src]="passwordTypeSecond === 'text' ? '../../../../assets/images/ic_hide-password.svg' : '../../../../assets/images/ic_show-password.svg'"
             (click)="onShowPassword('second')"/>
        <small *ngIf="controlHasError('password')"
               class="p-error c-common__form-field-error">{{setErrorMessage('password')}}</small>
      </div>
      <!--  CONFIRM PASSWORD-->
      <div class="c-common__form-field c-change-password__form-field">
        <input [type]="passwordTypeThird"
               pInputText
               [placeholder]="'my-profile.confirm-new-password-placeholder' | translate"
               formControlName="confirmPassword"
               class="c-common__input password"
               maxlength="128"/>
        <img class="c-common__form-field--password-icon"
             [src]="passwordTypeThird === 'text' ? '../../../../assets/images/ic_hide-password.svg' : '../../../../assets/images/ic_show-password.svg'"
             (click)="onShowPassword('third')"/>
        <small *ngIf="controlHasError('confirmPassword')"
               class="p-error c-common__form-field-error">{{setErrorMessage('confirmPassword')}}</small>
      </div>
    </div>
    <div class="c-change-password__buttons">
      <button type="submit"
              class="c-common__button c-common__button--gradient tiny c-common__profile__button"
              [disabled]="form.invalid" (click)="onSubmit()">{{'my-profile.save' | translate}}</button>

      <button type="button"
              class="c-common__button c-common__button--text tiny c-common__profile__button"
              (click)="onClose()">{{'my-profile.cancel' | translate}}</button>
    </div>
  </form>
</div>
