@import "./src/assets/styles/variables.scss";
@import './src/assets/styles/common.scss';
@import './src/assets/styles/mixins.scss';

.c-change-password {
  &__form {
    display: flex;
    align-items: flex-start;

    &-field {
      width: 300px;
      margin-right: 40px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: 40px;
    }
  }
}

@media #{$tablet} {
  .c-change-password {
    &__form {
      flex-direction: column;
      max-width: 300px;

      &-field {
        width: 100%;
        max-width: 470px;
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      max-width: 300px;

      &:first-child {
        margin-right: 40px;
      }
    }
  }
}

@media #{$mobile} {
  .c-change-password {
    &__buttons {
      flex-direction: column;
      width: 100%;
    }
  }
}
