@import "mixins";

.c-kpi-score-per-concept {
  margin: 20px 20px 0;

  &__header {
    @include regular-oblique-14;

    display: grid;
    align-items: end;
    grid-gap: 24px;
    min-height: 27px;
    margin-bottom: 16px;
    color: $dark-gray;
  }

  &__table {
    @include regular-16;

    display: grid;
    grid-gap: 0;
    background-color: #F6F5FC;

    &-elem {
      padding: 12px;
      border: 1px solid $value-even;
    }
  }
}
