@import "variables";

.c-section-two {
  display: flex;
  flex-direction: column;
  padding: 20px;

  &__table-mobile {
    display: none;
  }
}

@media #{$mobile} {
  .c-section-two {
    .checkbox {
      margin-right: 10px;
    }

    &__card {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
