<div class="c-legal">
  <h2 class="c-legal__main-title">{{'privacy.privacy-policy'| translate}}</h2>
  <p class="c-legal__text">{{'privacy.paragraph-1'| translate}}</p>
  <p class="c-legal__text">{{'privacy.paragraph-2'| translate}}</p>
  <p class="c-legal__text">{{'privacy.paragraph-3'| translate}}</p>
  <p class="c-legal__text">{{'privacy.paragraph-4'| translate}}</p>
  <p class="c-legal__text">{{'privacy.paragraph-5'| translate}}</p>
  <p class="c-legal__text">{{'privacy.paragraph-6'| translate}}</p>
  <h2 class="c-legal__title">{{'privacy.collection-of-personal-data'| translate}}</h2>
  <p class="c-legal__text">{{'privacy.collection-of-personal-data-paragraph'| translate}}</p>
  <ol class="c-legal__list">
    <li class="c-legal__list-elem margin">{{'privacy.data-to-us'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">1.1</span>{{'privacy.data-to-us-1'| translate}}
          <ol class="c-legal__list">
            <li class="c-legal__list-elem alphabetic">
              <strong>{{'privacy.data-to-us-a-strong' | translate}}</strong>{{'privacy.data-to-us-a' | translate}}
            </li>
            <li class="c-legal__list-elem alphabetic">
              <strong>{{'privacy.data-to-us-b-strong' | translate}}</strong>{{'privacy.data-to-us-b' | translate}}
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li class="c-legal__list-elem margin">{{'privacy.data-we-collect'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">2.1</span>{{'privacy.data-we-collect-1'| translate}}
          <ol class="c-legal__list">
            <li class="c-legal__list-elem alphabetic">
              <strong>{{'privacy.data-we-collect-a-strong' | translate}}</strong>{{'privacy.data-we-collect-a' | translate}}
            </li>
            <li class="c-legal__list-elem alphabetic">
              <strong>{{'privacy.data-we-collect-b-strong' | translate}}</strong>{{'privacy.data-we-collect-b' | translate}}
            </li>
          </ol>
        </li>
      </ol>
    </li>
  </ol>
  <h2 class="c-legal__title">{{'privacy.processing-data'| translate}}</h2>
  <ol class="c-legal__list" [start]="3">
    <li class="c-legal__list-elem">{{'privacy.how-to-use'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">3.1</span>{{'privacy.how-to-use-1'| translate}}</li>
      </ol>
    </li>
  </ol>
  <div class="c-legal__mobile-table">
    <table class="c-legal__table">
      <tr class="c-legal__table__tr">
        <th class="c-legal__table__line">
          <div class="c-legal__table__th">{{'privacy.table-header-1'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th">{{'privacy.table-header-2'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th">{{'privacy.table-header-3'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th">{{'privacy.table-header-4'| translate}}</div>
        </th>
      </tr>
      <tr class="c-legal__table__tr">
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-1-th-1'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-1-th-2'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-1-th-3'| translate}}</div>
          <div class="c-legal__table__th-body no-padding">{{'privacy.table-tr-1-th-3-1'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-1-th-4'| translate}}</div>
        </th>
      </tr>
      <tr class="c-legal__table__tr">
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-2-th-1'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-2-th-2'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-2-th-3'| translate}}</div>
          <div class="c-legal__table__th-body no-padding">{{'privacy.table-tr-2-th-3-1'| translate}}</div>
          <div class="c-legal__table__th-body no-padding">{{'privacy.table-tr-2-th-3-2'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-2-th-4'| translate}}</div>
        </th>
      </tr>
      <tr class="c-legal__table__tr">
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-3-th-1'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-3-th-2'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-3-th-3'| translate}}</div>
          <div class="c-legal__table__th-body no-padding">{{'privacy.table-tr-3-th-3-1'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-3-th-4'| translate}}</div>
        </th>
      </tr>
      <tr class="c-legal__table__tr">
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-4-th-1'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-4-th-2'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-4-th-3'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-4-th-4'| translate}}</div>
        </th>
      </tr>
      <tr class="c-legal__table__tr">
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-5-th-1'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-5-th-2'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-5-th-3'| translate}}</div>
          <div class="c-legal__table__th-body no-padding">{{'privacy.table-tr-5-th-3-1'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-5-th-4'| translate}}</div>
        </th>
      </tr>
      <tr class="c-legal__table__tr">
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-6-th-1'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-6-th-2'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-6-th-3'| translate}}</div>
          <div class="c-legal__table__th-body padding-bottom">{{'privacy.table-tr-6-th-3-1'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-6-th-4'| translate}}</div>
        </th>
      </tr>
      <tr class="c-legal__table__tr">
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-7-th-1'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-7-th-2'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-7-th-3'| translate}}</div>
          <div class="c-legal__table__th-body no-padding">{{'privacy.table-tr-7-th-3-1'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-7-th-4'| translate}}</div>
        </th>
      </tr>
      <tr class="c-legal__table__tr">
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-8-th-1'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-8-th-2'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-8-th-3'| translate}}</div>
          <div class="c-legal__table__th-body no-padding">{{'privacy.table-tr-8-th-3-1'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-8-th-4'| translate}}</div>
        </th>
      </tr>
      <tr class="c-legal__table__tr">
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-9-th-1'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-9-th-2'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-9-th-3'| translate}}</div>
        </th>
        <th class="c-legal__table__line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-9-th-4'| translate}}</div>
        </th>
      </tr>
      <tr class="c-legal__table__tr">
        <th class="c-legal__table__line no-line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-10-th-1'| translate}}</div>
        </th>
        <th class="c-legal__table__line no-line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-10-th-2'| translate}}</div>
        </th>
        <th class="c-legal__table__line no-line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-10-th-3'| translate}}</div>
        </th>
        <th class="c-legal__table__line no-line">
          <div class="c-legal__table__th-body">{{'privacy.table-tr-10-th-4'| translate}}</div>
        </th>
      </tr>
    </table>
  </div>
  <ol class="c-legal__list margin">
    <li class="c-legal__list-elem no-style"><span
      class="c-legal__list c-legal__list-elem-marker">3.2</span>{{'privacy.how-to-use-2'| translate}}</li>
    <li class="c-legal__list-elem no-style"><span
      class="c-legal__list c-legal__list-elem-marker">3.3</span>{{'privacy.how-to-use-3'| translate}}</li>
  </ol>
  <ol class="c-legal__list" [start]="4">
    <li class="c-legal__list-elem">{{'privacy.subcontractors'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">4.1</span>{{'privacy.subcontractors-1'| translate}}
          <table class="c-legal__table-subcontractors c-legal__table c-legal__mobile-subtable">
            <tr class="c-legal__table__tr">
              <th class="c-legal__table__line">
                <div class="c-legal__table__th">{{'privacy.table-2-header-1'| translate}}</div>
              </th>
              <th class="c-legal__table__line">
                <div class="c-legal__table__th">{{'privacy.table-2-header-2'| translate}}</div>
              </th>
              <th class="c-legal__table__line">
                <div class="c-legal__table__th">{{'privacy.table-2-header-3'| translate}}</div>
              </th>
          </tr>
            <tr class="c-legal__table__tr">
              <th class="c-legal__table__line no-line">
                <div class="c-legal__table__th-body">{{'privacy.table-2-th-1'| translate}}</div>
              </th>
              <th class="c-legal__table__line no-line">
                <div class="c-legal__table__th-body">{{'privacy.table-2-th-2'| translate}}</div>
              </th>
              <th class="c-legal__table__line no-line">
                <div class="c-legal__table__th-body">{{'privacy.table-2-th-3'| translate}}</div>
              </th>
            </tr>
          </table>
        </li>
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">4.2</span>{{'privacy.subcontractors-2'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">4.3</span>{{'privacy.subcontractors-3'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">4.4</span>{{'privacy.subcontractors-4'| translate}}</li>
      </ol>
    </li>
  </ol>
  <ol class="c-legal__list" [start]="5">
    <li class="c-legal__list-elem">{{'privacy.cookies'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">5.1</span>{{'privacy.cookies-1'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">5.2</span>{{'privacy.cookies-2'| translate}}</li>
      </ol>
    </li>
  </ol>
  <h2 class="c-legal__title">{{'privacy.rights'| translate}}</h2>
  <ol class="c-legal__list" [start]="6">
    <li class="c-legal__list-elem">{{'privacy.your-rights'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">6.1</span>{{'privacy.your-rights-1'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">6.2</span>{{'privacy.your-rights-2'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">6.3</span>{{'privacy.your-rights-3'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">6.4</span>{{'privacy.your-rights-4'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">6.5</span>{{'privacy.your-rights-5'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">6.6</span>{{'privacy.your-rights-6'| translate}}<a href="https://www.imy.se/">www.imy.se</a><span>{{'privacy.your-rights-6-1'| translate}}</span></li>
      </ol>
    </li>
  </ol>
  <ol class="c-legal__list" [start]="7">
    <li class="c-legal__list-elem">{{'privacy.security'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">7.1</span>{{'privacy.security-1'| translate}}</li>
      </ol>
    </li>
  </ol>
  <ol class="c-legal__list" [start]="8">
    <li class="c-legal__list-elem">{{'privacy.updates'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">8.1</span>{{'privacy.updates-1'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">8.2</span>{{'privacy.updates-2'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">8.3</span>{{'privacy.updates-3'| translate}}</li>
      </ol>
    </li>
  </ol>
  <ol class="c-legal__list" [start]="9">
    <li class="c-legal__list-elem">{{'privacy.contact-info'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span
          class="c-legal__list c-legal__list-elem-marker">9.1</span>{{'privacy.contact-info-1'| translate}}
          <div><u>{{'privacy.contact-info-data-controller'| translate}}</u><span>{{'privacy.contact-info-data-controller-text'| translate}}</span></div>
          <div><u>{{'privacy.contact-info-address'| translate}}</u><span>{{'privacy.contact-info-address-text'| translate}}</span></div>
          <div><u>{{'privacy.contact-info-email'| translate}}</u><span>{{'privacy.contact-info-email-text'| translate}}</span></div>
        </li>
      </ol>
    </li>
  </ol>
</div>
