<div class="c-legal">
  <h2 class="c-legal__main-title">{{'terms.terms'| translate}}</h2>
  <p class="c-legal__text">{{'terms.terms-1-1'| translate}}
    <strong>{{'terms.agreement'| translate}}</strong>
    {{'terms.terms-1-2'| translate}}
    <strong>{{'terms.customer'| translate}}</strong>
    {{'terms.terms-1-3'| translate}}
    <strong>{{'terms.InsightMe'| translate}}</strong>
    {{'terms.terms-1-4'| translate}}
  </p>
  <p class="c-legal__text">{{'terms.terms-2'| translate}}</p>
  <p class="c-legal__text">{{'terms.terms-3'| translate}}</p>
  <ol class="c-legal__list">
    <li class="c-legal__list-elem margin">{{'terms.definitions'| translate}}
      <div>
        <p class="c-legal__text">
          <strong>{{'terms.agreement'| translate}}</strong>
          {{'terms.agreement-text'| translate}}
        </p>
        <p class="c-legal__text">
          <strong>{{'terms.analysis'| translate}}</strong>
          {{'terms.analysis-text'| translate}}
        </p>
        <p class="c-legal__text">
          <strong>{{'terms.customer'| translate}}</strong>
          {{'terms.or'| translate}}
          <strong>{{'terms.you'| translate}}</strong>
          {{'terms.customer-text'| translate}}
        </p>
        <p class="c-legal__text">
          <strong>{{'terms.InsightMe'| translate}}</strong>
          {{'terms.or'| translate}}
          <strong>{{'terms.we'| translate}}</strong>
          {{'terms.InsightMe-text'| translate}}
        </p>
        <p class="c-legal__text">
          <strong>{{'terms.research-data'| translate}}</strong>
          {{'terms.research-data-text'| translate}}
        </p>
        <p class="c-legal__text">
          <strong>{{'terms.service'| translate}}</strong>
          {{'terms.service-text'| translate}}
        </p>
        <p class="c-legal__text">
          <strong>{{'terms.website'| translate}}</strong>
          {{'terms.website-text'| translate}}
          <a href="https://app.insightme.com">{{'terms.url'| translate}}</a>.
        </p>
      </div>
    </li>
    <li class="c-legal__list-elem margin">{{'terms.service-title'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">2.1</span><strong>{{'terms.service-paragraph-1-bold'| translate}}</strong>
          {{'terms.service-paragraph-1-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">2.2</span><strong>{{'terms.service-paragraph-2-bold'| translate}}</strong>
          {{'terms.service-paragraph-2-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">2.3</span><strong>{{'terms.service-paragraph-3-bold'| translate}}</strong>
          {{'terms.service-paragraph-3-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">2.4</span><strong>{{'terms.service-paragraph-4-bold'| translate}}</strong>
          {{'terms.service-paragraph-4-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">2.5</span><strong>{{'terms.service-paragraph-5-bold'| translate}}</strong>
          {{'terms.service-paragraph-5-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">2.6</span><strong>{{'terms.service-paragraph-6-bold'| translate}}</strong>
          {{'terms.service-paragraph-6-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">2.7</span><strong>{{'terms.service-paragraph-7-bold'| translate}}</strong>
          {{'terms.service-paragraph-7-text'| translate}}</li>
      </ol>
    </li>
    <li class="c-legal__list-elem margin">{{'terms.rights'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">3.1</span><strong>{{'terms.rights-paragraph-1-bold'| translate}}</strong>
          {{'terms.rights-paragraph-1-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">3.2</span><strong>{{'terms.rights-paragraph-2-bold'| translate}}</strong>
          {{'terms.rights-paragraph-2-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">3.3</span><strong>{{'terms.rights-paragraph-3-bold'| translate}}</strong>
          {{'terms.rights-paragraph-3-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">3.4</span><strong>{{'terms.rights-paragraph-4-bold'| translate}}</strong>
          {{'terms.rights-paragraph-4-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">3.5</span><strong>{{'terms.rights-paragraph-5-bold'| translate}}</strong>
          {{'terms.rights-paragraph-5-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">3.6</span><strong>{{'terms.rights-paragraph-6-bold'| translate}}</strong>
          {{'terms.rights-paragraph-6-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">3.7</span><strong>{{'terms.rights-paragraph-7-bold'| translate}}</strong>
          {{'terms.rights-paragraph-7-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">3.8</span><strong>{{'terms.rights-paragraph-8-bold'| translate}}</strong>
          {{'terms.rights-paragraph-8-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">3.9</span><strong>{{'terms.rights-paragraph-9-bold'| translate}}</strong>
          {{'terms.rights-paragraph-9-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">3.10</span><strong>{{'terms.rights-paragraph-10-bold'| translate}}</strong>
          {{'terms.rights-paragraph-10-text'| translate}}</li>
      </ol>
    </li>
    <li class="c-legal__list-elem margin">{{'terms.fees'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">4.1</span><strong>{{'terms.fees-paragraph-1-bold'| translate}}</strong>
          {{'terms.fees-paragraph-1-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">4.2</span><strong>{{'terms.fees-paragraph-2-bold'| translate}}</strong>
          {{'terms.fees-paragraph-2-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">4.3</span><strong>{{'terms.fees-paragraph-3-bold'| translate}}</strong>
          {{'terms.fees-paragraph-3-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">4.4</span><strong>{{'terms.fees-paragraph-4-bold'| translate}}</strong>
          {{'terms.fees-paragraph-4-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">4.5</span><strong>{{'terms.fees-paragraph-5-bold'| translate}}</strong>
          {{'terms.fees-paragraph-5-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">4.6</span><strong>{{'terms.fees-paragraph-6-bold'| translate}}</strong>
          {{'terms.fees-paragraph-6-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">4.7</span><strong>{{'terms.fees-paragraph-7-bold'| translate}}</strong>
          {{'terms.fees-paragraph-7-text'| translate}}
          <ol class="c-legal__list">
            <li class="c-legal__list-elem lower-roman no-style">
              {{'terms.fees-paragraph-7-list-1'| translate}}
            </li>
            <li class="c-legal__list-elem lower-roman no-style">
              {{'terms.fees-paragraph-7-list-2'| translate}}
            </li>
            <li class="c-legal__list-elem lower-roman no-style">
              {{'terms.fees-paragraph-7-list-3'| translate}}
            </li>
          </ol>
        </li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">4.8</span><strong>{{'terms.fees-paragraph-8-bold'| translate}}</strong>
          {{'terms.fees-paragraph-8-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">4.9</span><strong>{{'terms.fees-paragraph-9-bold'| translate}}</strong>
          {{'terms.fees-paragraph-9-text'| translate}}</li>
      </ol>
    </li>
    <li class="c-legal__list-elem margin">{{'terms.personal-data'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">5.1</span><strong>{{'terms.personal-data-paragraph-1-bold'| translate}}</strong>
          {{'terms.personal-data-paragraph-1-text'| translate}}(<strong>{{'terms.GDPR'| translate}}</strong>).
        </li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">5.2</span><strong>{{'terms.personal-data-paragraph-2-bold'| translate}}</strong>
          {{'terms.personal-data-paragraph-2-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">5.3</span><strong>{{'terms.personal-data-paragraph-3-bold'| translate}}</strong>
          {{'terms.personal-data-paragraph-3-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">5.4</span><strong>{{'terms.personal-data-paragraph-4-bold'| translate}}</strong>
          {{'terms.personal-data-paragraph-4-text'| translate}}</li>
      </ol>
    </li>
    <li class="c-legal__list-elem margin">{{'terms.agreement-title'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">6.1</span><strong>{{'terms.agreement-paragraph-1-bold'| translate}}</strong>
          {{'terms.agreement-paragraph-1-text'| translate}}
          <strong>{{'terms.DPA'| translate}}</strong>
          {{'terms.agreement-paragraph-1-text-1'| translate}}
        </li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">6.2</span><strong>{{'terms.agreement-paragraph-2-bold'| translate}}</strong>
          {{'terms.agreement-paragraph-2-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">6.3</span><strong>{{'terms.agreement-paragraph-3-bold'| translate}}</strong>
          {{'terms.agreement-paragraph-3-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">6.4</span><strong>{{'terms.agreement-paragraph-4-bold'| translate}}</strong>
          {{'terms.agreement-paragraph-4-text'| translate}}
          <ol class="c-legal__list">
            <li class="c-legal__list-elem lower-roman no-style">
              {{'terms.agreement-paragraph-4-list-1'| translate}}
            </li>
            <li class="c-legal__list-elem lower-roman no-style">
              {{'terms.agreement-paragraph-4-list-2'| translate}}
            </li>
            <li class="c-legal__list-elem lower-roman no-style">
              {{'terms.agreement-paragraph-4-list-3'| translate}}
            </li>
            <li class="c-legal__list-elem lower-roman no-style">
              {{'terms.agreement-paragraph-4-list-4'| translate}}
            </li>
            <li class="c-legal__list-elem lower-roman no-style">
              {{'terms.agreement-paragraph-4-list-5'| translate}}
            </li>
            <li class="c-legal__list-elem lower-roman no-style">
              {{'terms.agreement-paragraph-4-list-6'| translate}}
            </li>
            <li class="c-legal__list-elem lower-roman no-style">
              {{'terms.agreement-paragraph-4-list-7'| translate}}
            </li>
            <li class="c-legal__list-elem lower-roman no-style">
              {{'terms.agreement-paragraph-4-list-8'| translate}}
            </li>
          </ol>
        </li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">6.5</span><strong>{{'terms.agreement-paragraph-5-bold'| translate}}</strong>
          {{'terms.agreement-paragraph-5-text'| translate}}</li>
      </ol>
    </li>
    <li class="c-legal__list-elem margin">{{'terms.intellectual-rights'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">7.1</span>
          {{'terms.intellectual-rights-paragraph-1-text'| translate}}</li>
      </ol>
    </li>
    <li class="c-legal__list-elem margin">{{'terms.limitation'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">8.1</span><strong>{{'terms.limitation-paragraph-1-bold'| translate}}</strong>
          {{'terms.limitation-paragraph-1-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">8.2</span><strong>{{'terms.limitation-paragraph-2-bold'| translate}}</strong>
          {{'terms.limitation-paragraph-2-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">8.3</span><strong>{{'terms.limitation-paragraph-3-bold'| translate}}</strong>
          {{'terms.limitation-paragraph-3-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">8.4</span><strong>{{'terms.limitation-paragraph-4-bold'| translate}}</strong>
          {{'terms.limitation-paragraph-4-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker">8.5</span><strong>{{'terms.limitation-paragraph-5-bold'| translate}}</strong>
          {{'terms.limitation-paragraph-5-text'| translate}}</li>
      </ol>
    </li>
    <li class="c-legal__list-elem">{{'terms.force'| translate}}
      <p class="c-legal__text">{{'terms.force-text'| translate}}</p>
    </li>
    <li class="c-legal__list-elem">{{'terms.confidentiality'| translate}}
      <p class="c-legal__text">{{'terms.confidentiality-text'| translate}}</p>
    </li>
    <li class="c-legal__list-elem margin">{{'terms.term'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker big">11.1</span><strong>{{'terms.term-paragraph-1-bold'| translate}}</strong>
          {{'terms.term-paragraph-1-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker big">11.2</span><strong>{{'terms.term-paragraph-2-bold'| translate}}</strong>
          {{'terms.term-paragraph-2-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker big">11.3</span><strong>{{'terms.term-paragraph-3-bold'| translate}}</strong>
          {{'terms.term-paragraph-3-text'| translate}}
          <ol class="c-legal__list">
            <li class="c-legal__list-elem lower-roman no-style">
              {{'terms.term-paragraph-3-list-1'| translate}}
            </li>
            <li class="c-legal__list-elem lower-roman no-style">
              {{'terms.term-paragraph-3-list-2'| translate}}
            </li>
          </ol>
        </li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker big">11.4</span><strong>{{'terms.term-paragraph-4-bold'| translate}}</strong>
          {{'terms.term-paragraph-4-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker big">11.5</span><strong>{{'terms.term-paragraph-5-bold'| translate}}</strong>
          {{'terms.term-paragraph-5-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker big">11.6</span><strong>{{'terms.term-paragraph-6-bold'| translate}}</strong>
          {{'terms.term-paragraph-6-text'| translate}}</li>
      </ol>
    </li>
    <li class="c-legal__list-elem margin">{{'terms.general'| translate}}
      <ol class="c-legal__list">
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker big">12.1</span><strong>{{'terms.general-paragraph-1-bold'| translate}}</strong>
          {{'terms.general-paragraph-1-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker big">12.2</span><strong>{{'terms.general-paragraph-2-bold'| translate}}</strong>
          {{'terms.general-paragraph-2-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker big">12.3</span><strong>{{'terms.general-paragraph-3-bold'| translate}}</strong>
          {{'terms.general-paragraph-3-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker big">12.4</span><strong>{{'terms.general-paragraph-4-bold'| translate}}</strong>
          {{'terms.general-paragraph-4-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker big">12.5</span><strong>{{'terms.general-paragraph-5-bold'| translate}}</strong>
          {{'terms.general-paragraph-5-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker big">12.6</span><strong>{{'terms.general-paragraph-6-bold'| translate}}</strong>
          {{'terms.general-paragraph-6-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker big">12.7</span><strong>{{'terms.general-paragraph-7-bold'| translate}}</strong>
          {{'terms.general-paragraph-7-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker big">12.8</span><strong>{{'terms.general-paragraph-8-bold'| translate}}</strong>
          {{'terms.general-paragraph-8-text'| translate}}</li>
        <li class="c-legal__list-elem no-style"><span class="c-legal__list c-legal__list-elem-marker big">12.9</span><strong>{{'terms.general-paragraph-9-bold'| translate}}</strong>
          {{'terms.general-paragraph-9-text'| translate}}</li>
      </ol>
    </li>
  </ol>
</div>
