<div class="c-prompt-one"
  #prompt>
  <div class="c-prompt-one__prompt c-base-prompt">
    <p class="c-base-prompt-message">{{'test-concept.import-message' | translate}}</p>
    <div class="c-prompt-one__prompt-buttons">
      <button class="c-common__button c-prompt-one__prompt-buttons__btn" routerLink="/personal-area/test-library">{{'test-concept.yes' | translate}}</button>
      <button class="c-common__button c-prompt-one__prompt-buttons__btn" (click)="closePrompt()">{{'test-concept.no' | translate}}</button>
    </div>
  </div>
</div>
