<div class="c-auth__main">
  <div class="c-auth__content__header">
    <h2 class="c-auth__content__header-text">{{title | translate}}</h2>
  </div>
  <div class="c-login__content">
    <form *ngIf="form"
          [formGroup]="form"
          class="c-login__form">
      <!-- PASSWORD -->
      <label for="password"
             class="c-auth__label">{{'t-auth.New password' | translate}}</label>
      <div class="c-common__form-field">
        <input [type]="passwordTypeFirst"
               pInputText
               [placeholder]="'t-auth.Write new password...' | translate"
               formControlName="password"
               id="password"
               class="c-common__input password"
               maxlength="128" />
        <img class="c-common__form-field--password-icon"
             [src]="isTextTypePassword ? '../../../../assets/images/ic_hide-password.svg' : '../../../../assets/images/ic_show-password.svg'"
             (click)="onShowPassword()" />
        <small *ngIf="controlHasError('password')"
               class="p-error c-common__form-field-error">{{getErrorMessage('password') | translate}}</small>
      </div>
      <!-- CONFIRM PASSWORD -->
      <label for="confirmPassword"
             class="c-auth__label">{{ 't-auth.Confirm new password' | translate}}</label>
      <div class="c-common__form-field">
        <input [type]="passwordTypeSecond"
               pInputText
               [placeholder]="('t-auth.Confirm new password' | translate) + '...'"
               formControlName="confirmPassword"
               id="confirmPassword"
               class="c-common__input password"
               maxlength="128" />
        <img class="c-common__form-field--password-icon"
             [src]="isTextTypeConfirmPassword ? '../../../../assets/images/ic_hide-password.svg' : '../../../../assets/images/ic_show-password.svg'"
             (click)="onShowConfirmPassword()" />
        <small *ngIf="controlHasError('confirmPassword')"
               class="p-error c-common__form-field-error">{{getErrorMessage('confirmPassword') | translate}}</small>
      </div>
      <button class="c-common__button c-common__button--gradient normal stretch"
              [disabled]="isFormInvalid"
              (click)="onSubmit()">{{'t-auth.Save password' | translate}}</button>
    </form>
  </div>
</div>
