<div *ngIf="permissionControl" class="c-confirmation-dialog c-change-permission">
  <div class="c-confirmation-dialog__header">{{'my-profile.change-access' | translate}}</div>
  <p class="c-confirmation-dialog__label">{{'my-profile.select-role' | translate}}</p>
  <div class="c-common__form-field c-change-permission__form-field">
    <p-dropdown class="c-common__dropdown-test"
                [options]="config.data.rightOptions"
                [placeholder]="'my-profile.select-rights' | translate"
                optionLabel="label"
                [formControl]="permissionControl"></p-dropdown>
    <small *ngIf="permissionControl.invalid && permissionControl.touched"
           class="p-error c-common__form-field-error">{{'my-profile.select-role-error' | translate}}</small>
  </div>
  <div class="c-confirmation-dialog__button-wrapper">
    <button type="button"
            (click)="onClose(false)"
            class="c-common__button c-common__button--text normal">{{'my-profile.cancel' | translate}}</button>
    <button [disabled]="permissionControl.invalid"
            class="c-common__button c-common__button--gradient normal"
            (click)="onClose(true)">{{'test-concept.save' | translate}}</button>
  </div>
</div>
