@import "./src/assets/styles/variables.scss";
@import "./src/assets/styles/mixins.scss";

.c-quote-section {
  margin: 100px 0;

  &__text {
    @include flex-content-center;

    align-items: flex-start;
    padding: 60px 0;
    text-align: left;

    p {
      @include medium-32;
    }

    &-container {
      display: grid;
      grid-template-columns: 65px 1fr;

      svg {
        margin: 10px 0
      }

      &-content {
        @include medium-20;

        transform: translate(0, 50%);
        opacity: 0;
        transition: all 0.5s ease-in-out;

        &.active {
          transform: translate(0, 0);
          opacity: 1;
        }

        p {
          @include medium-18;
        }
      }
    }
  }
}

@media #{$tablet} {
  .c-quote-section {
    flex-direction: column;
    gap: 60px !important;
    margin: 100px 0;
    padding-top: 0 !important;

    &__text {
      @include flex-content-center;

      align-items: flex-start;
      padding: 0;
      text-align: left;

      p {
        @include medium-28;
      }

      &-container {
        @include medium-18;

        &-content {
          p {
            font-size: 18px !important;
          }
        }
      }
    }

    &__second-block {
      display: flex !important;
      justify-content: center;
      width: 100% !important;
      margin: 0 32px 0 64px;

      .frame {
        width: calc(100% - 60px) !important;
        margin-top: 34px !important;
        padding-top: calc(100% - 60px) !important;

        &-image {
          top: -34px !important;
          right: 34px !important;
        }
      }
    }
  }
}

@media #{$mobile-main-page} {
  .c-quote-section {
    gap: 40px !important;
    margin: 60px 0;

    &__text {
      p {
        @include medium-24;
      }

      &-container {
        @include medium-16;

        &-content {
          p {
            font-size: 16px !important;
          }
        }
      }
    }

    &__second-block {
      width: 100% !important;
      margin: 0 20px 0 40px;


      .frame {
        width: calc(100% - 60px) !important;
        margin-top: 18px !important;
        padding-top: calc(100% - 60px) !important;

        &-image {
          top: -18px !important;
          right: 18px !important;
        }
      }
    }
  }
}
