@import "./src/assets/styles/variables.scss";

.c-list-items {
  display: flex;
  flex-direction: column;
  margin: 30px 0;

  &__control {
    margin-bottom: 0;

    &-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 20px;
    }

    &-button {
      width: 109px;
      min-width: 109px;
      margin: 0 0 0 24px;
    }
  }
}

.flex-elem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media #{$mobile} {
  .c-list-items {
    display: flex;
    flex-direction: column;

    &__control {
      margin-bottom: 0;

      &-wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
      }

      &-button {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }

  .flex-elem {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
